<div class="container">
    <h2>User Settings</h2>
    <form #form="ngForm">

        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" name="name" class="form-control" [(ngModel)]="userSettings.name" />
        </div>

        <div class="form-check custom-controlform-group">
            <input class="form-check-input" name="emailOffers" type="checkbox" id="emailoffers" [(ngModel)]="userSettings.emailOffers" />
            <label class="form-check-label" for="emailoffers">
                Email Special Offers
            </label>
        </div>

        <p>User Interface Stlye</p>
        <div class="form-group">
            <div class="form-check">
                <div class="custom-control custom-radio">
                    <input type="radio" id="lightInterface" name="interfaceStyle" value="light"
                        class="custom-control-input" [(ngModel)]="userSettings.interfaceStyle">
                    <label class="custom-control-label" for="lightInterface">Light</label>
                </div>
            </div>
            <div class="form-check">
                <div class="custom-control custom-radio">
                    <input type="radio" id="lightInterface" name="interfaceStyle" value="medium"
                        class="custom-control-input" [(ngModel)]="userSettings.interfaceStyle">
                    <label class="custom-control-label" for="mediumInterface">Medium</label>
                </div>
            </div>
            <div class="form-check">
                <div class="custom-control custom-radio">
                    <input type="radio" id="lightInterface" name="interfaceStyle" value="dark"
                        class="custom-control-input" [(ngModel)]="userSettings.interfaceStyle">
                    <label class="custom-control-label" for="drakInterface">Dark</label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="subscriptionType">Subscription Type</label>
            <select class="form-control" name="subscriptionType" id="subscriptionType" [(ngModel)]="userSettings.subscriptionType">
                <option>Monthly</option>
                <option>Annual</option>
                <option>Lifetime</option>
            </select>
        </div>

        <div class="form-group">
            <label for="notes">Notes</label>
            <textarea id="notes" name="notes" rows="3" class="form-control" [(ngModel)]="userSettings.notes"></textarea>
        </div>
    

        <button class="btn btn-primary">Send</button>
    </form>
</div>

{{ userSettings | json }}